<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jonas.emile.agora">

    <application>
        <activity android:name=".AgoraActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".ThreadActivity"/>
    </application>

</manifest>